.border{
  border: 10px solid black;
}

.heading {
  font-size: 100px;
}
.my-how-to-play
{
    font-size: 80px;
    font-family: 'Chau Philomene One', sans-serif;
    
}

.bg-pink
{
    background-color: #ff1744; 
}

.nav-link
{
    color: white !important;
}

.navbar-brand
{
    color:#fff !important;
    font-size: 25px !important;
}

.my-explanation
{
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

.bg-lala
{
    background-color: #4db6ac;
}